*{box-sizing:border-box;}
body {background:WHITE; padding:30px;}
header{border:1px solid WHITE; width:100%; background-color:black; padding: 15px; color:white;}
nav{color:white;border:1px solid black; width:40%; padding: 20px; background-color: black;}
main{float:left; width:60%; margin-top:2%; background-color: black; margin-bottom:15px;}
section{ color:white;border:1px solid BLACK; margin-bottom: 15px; background-color:black;}
article{ background-color:black; color:white;margin-bottom:15px;}

aside{ color:white;background-color:black;padding-left:2%; margin-bottom:10px; margin-top:2%; width:35%;float:right; }